.form0{
  margin-left : auto;
  margin-bottom : 30px;
  margin-right : auto;
  margin-top : 30px;

	width: 500px;
	
	padding: 20px;
	background: white;
	font-size: 14px;
	font-family: verdana;
	}
	



#submitbtn{
	background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
 
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
	
}
#submitbtn:hover {
  opacity: 1;
}
input[type=text], input[type=password], input[type=number], input[type=nic], .area , select[id=package],  input[type=phone],input[type=date]{
  width: 70%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=email]{
	width: 83%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

#regib{
  background-image:url(../images/regiback.jpg) ;
  
  margin-left : 50px;
  margin-bottom :0px;
  margin-right : 50px;
  margin-top : 0px;
}
.font1{
  color: red;
  font-size: 30px;

}